<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Top Bar
  ============================================= -->
  <%= render "homepage/index/top_bar" %>

  <!-- Header
  ============================================= -->
  <%= render "homepage/index/header" %>

  <!-- Content
  ============================================= -->
  <%= render "homepage/index/content" %>

  <!-- Footer
  ============================================= -->
  <%= render "homepage/index/footer" %>

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
