<div class="spost clearfix">
  <div class="entry-image">
    <a href="#"><img src="images/magazine/small/5.jpg" alt=""></a>
  </div>
  <div class="entry-c">
    <div class="entry-title">
      <h4><a href="#">A Baseball Team Blew Up A Bunch Of Justin Bieber And Miley Cyrus Merch</a></h4>
    </div>
    <ul class="entry-meta">
      <li><i class="icon-calendar3"></i> 5th Nov 2014</li>
      <li><a href="#"><i class="icon-comments"></i> 3</a></li>
    </ul>
  </div>
</div>
