<div class="panel panel-default"><!-- Post Author Info -->
  <div class="panel-heading">
    <h3 class="panel-title">Posted by <span><a href="#">Samuel Schiaffino</a></span></h3>
  </div>
  <div class="panel-body">
    <div class="author-image">
      <img src="images/author/2.jpg" alt="" class="img-circle">
    </div>
    Appassionato tifoso della Lazio e grande conoscitore dello sport di Roma e dintorni.
  </div>
</div><!-- Post Single - Author End -->
