<div class="tagcloud clearfix bottommargin"><!-- Tag Cloud -->
  <a href="#">Tare</a>
  <a href="#">SS Lazio</a>
  <a href="#">Europa League</a>
  <a href="#">Lotito</a>
  <a href="#">Onazi</a>
</div><!-- .tagcloud end -->
