<div class="post-navigation clearfix"><!-- Post Navigation -->

  <div class="col_half nobottommargin">
    <a href="#">&lArr; This is a Standard post with a Slider Gallery</a>
  </div>

  <div class="col_half col_last tright nobottommargin">
    <a href="#">This is an Embedded Audio Post &rArr;</a>
  </div> -->

</div><!-- .post-navigation end -->
