<div class="sidebar nobottommargin col_last clearfix"><!-- Sidebar -->
  <div class="sidebar-widgets-wrap">

    <div class="widget widget-twitter-feed clearfix">

      <h4>Twitter Feed</h4>
      <!-- <ul class="iconlist twitter-feed" data-username="romasportface" data-count="1">
        <li></li>
      </ul> -->
      <a href="https://twitter.com/romasportface" class="btn btn-default btn-sm fleft">Follow Us on Twitter</a>
                      <a class="twitter-timeline" href="https://twitter.com/romasportface/lists/calcio" data-widget-id="685054826619744256" data-tweet-limit="1">Tweets from https://twitter.com/romasportface/lists/calcio</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="widget clearfix">

      <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

        <ul class="tab-nav clearfix">
          <li><a href="#tabs-1">Popular</a></li>
          <li><a href="#tabs-2">Recent</a></li>
          <!-- <li><a href="#tabs-3"><i class="icon-comments-alt norightmargin"></i></a></li> -->
        </ul>

        <div class="tab-container">

          <div class="tab-content clearfix" id="tabs-1">
            <div id="popular-post-list-sidebar">

              <div class="spost clearfix">
                <div class="entry-image">
                  <a href="blog-single-small06.html" class="nobg"><img class="img-circle" src="images/magazine/small/3.jpg" alt=""></a>
                </div>
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="blog-single-small06.html">Piccoli passi</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li><i class="icon-user"></i> David De Maria</li>
                  </ul>
                </div>
              </div>

              <div class="spost clearfix">
                <div class="entry-image">
                  <a href="blog-single-small7.html" class="nobg"><img class="img-circle" src="images/magazine/small/2.jpg" alt=""></a>
                </div>
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="blog-single-small07.html">Notte di coppe e di campioni</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li><i class="icon-user"></i> Christian Vitali</li>
                  </ul>
                </div>
              </div>

              <div class="spost clearfix">
                <div class="entry-image">
                  <a href="blog-single-small4.html" class="nobg"><img class="img-circle" src="images/magazine/small/1.jpg" alt=""></a>
                </div>
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="blog-single-small04.html">SPALLata a Garcia</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li><i class="icon-user"></i> David De Maria</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-content clearfix" id="tabs-2">
            <div id="recent-post-list-sidebar">

              <div class="spost clearfix">
                <div class="entry-image">
                  <a href="blog-single-small08.html" class="nobg"><img class="img-circle" src="images/magazine/small/8.jpg" alt=""></a>
                </div>
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="blog-single-small08.html">Stadio in crisi</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li>22 Feb 2016</li>
                  </ul>
                </div>
              </div>

              <div class="spost clearfix">
                <div class="entry-image">
                  <a href="blog-single-small07.html" class="nobg"><img class="img-circle" src="images/magazine/small/2.jpg" alt=""></a>
                </div>
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="blog-single-small07.html">Notte di coppe e di campioni</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li>16 Feb 2016</li>
                  </ul>
                </div>
              </div>

              <div class="spost clearfix">
                <div class="entry-image">
                  <a href="blog-single-small06.html" class="nobg"><img class="img-circle" src="images/magazine/small/3.jpg" alt=""></a>
                </div>
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="blog-single-small06.html">Piccoli passi</a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li>28 Gen 2016</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

                  <div class="widget clearfix">
              <a href="http://www.greenpeace.org/freeouractivists?shareablegraphicsdove" target="_blank">
              <img class="aligncenter" alt="" src="http://www.greenpeace.org/international/Global/international/artwork/climate/2013/Arctic30/banners/as30-dove-300x250.jpg" border= "0"/></a>
    </div>

                  <div class="widget clearfix">

      <h4>Tag Cloud</h4>
      <div class="tagcloud">
        <a href="#">Tare</a>
        <a href="#">Bayern Monaco</a>
        <a href="#">Tottenham</a>
        <a href="#">Barcelona</a>
        <a href="#">Lotito</a>
        <a href="#">SS Lazio</a>
        <a href="#">Juventus</a>
        <a href="#">Candreva</a>
        <a href="#">Real Madrid</a>
        <a href="#">Anderson</a>
      </div>

    </div>

  </div>

</div><!-- .sidebar end -->
