<section id="content"><!-- Content -->

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
      ============================================= -->
      <div class="postcontent nobottommargin clearfix">

        <div class="single-post nobottommargin">

          <!-- Single Post
          ============================================= -->
          <div class="entry clearfix">

            <!-- Entry Title
            ============================================= -->
            <div class="entry-title">
              <h2>La Lazio è 'cieca' ma i laziali ci vedono benissimo.</h2>
            </div><!-- .entry-title end -->

            <!-- Entry Meta
            ============================================= -->
            <ul class="entry-meta clearfix">
              <li><i class="icon-calendar3"></i> 19 Marzo 2016</li>
              <li><a href="blog-small.html"><i class="icon-user"></i> Samuel Schiaffino</a></li>
              <!-- <li><i class="icon-folder-open"></i> <a href="#">Serie A</a>, <a href="#">AS Roma</a></li>
              <li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li>
              <li><a href="#"><i class="icon-camera-retro"></i></a></li> -->
            </ul><!-- .entry-meta end -->

            <!-- Entry Content
            ============================================= -->
            <div class="entry-content notopmargin">

              <!-- Entry Image
              ============================================= -->
              <div class="entry-image alignleft">
                <a href="#"><%= image_tag "blog/standard/16.jpg", alt: "SS Lazio vs. Sparta Praga" %></a>
              </div><!-- .entry-image end -->

              <p>Ero li, appollaiato al freddo insieme a tantissime altre anime su degli anonimi seggiolini di uno 'Stadio Olimpico' un giovedì di marzo, sbigottito e confuso; le vene pulsavano nelle tempie come nella testa di chi sa di non dover mischiare Tequila, Disaronno ed una buonissima birra di Praga, tutto si muoveva più lentamente del solito, la bocca rimaneva spalancata e gli occhi dell'anziano signore al mio fianco esprimevano solo disapprovazione, tristezza e sdegno.</p>
              <p>Ma sogno o son desto?</p>
              <blockquote><p>Potrei passare ore, se non giorni, a sputare veleno su chi ha distrutto qualsiasi nostro sogno, potrei ma non lo farò</p></blockquote>
              <p>Una ventata di aria gelida mi riporta alla realtà, sono passati dodici esatti minuti del ritorno di Europa League fra Lazio e Sparta Praga, il risultato è 0-2 e purtroppo sta tutto accadendo realmente sotto ai miei occhi.</p>
              <p>Passano i minuti ed ad ogni ennesimo svarione difensivo sento sempre più insistente, martellante come un tamburo, ripetersi il mantra durante le ultime quattro sessioni del mercato del DS Igli Tare "la squadra è difficilmente migliorabile": <br> ogni passaggio sbagliato 'difficilmente migliorabile'; <br> ogni buco in difesa 'difficilmente migliorabile'; <br> ogni gol facile sparato alle stelle 'difficilmente migliorabile'; <br> Bisevac 'pronto ed esperto'.</p>
              <p>Mi manca il fiato, l'immagine del direttore sportivo che corre per consegnare in tempo il contratto di Vignaroli viene spazzata via da una impressionante bordata di fischi, alzo gli occhi che inconsciamente avevo abbassato e terra e noto il misfatto, risultato cambiato sullo 0-3.</p>
              <p>L'arbitro decreta la fine del primo tempo e rimango li, appollaiato al freddo insieme a tantissime altre anime su degli anonimi seggiolini di uno 'Stadio Olimpico' un giovedì di marzo, stavolta con la consapevolezza che, a quanto pare, gli unici in questo vortice scellerato che si chiama gestione Lotito ad averci visto bene siamo stati noi tifosi.</p>
              <p>Potrei passare ore, se non giorni, a sputare veleno su chi ha distrutto qualsiasi nostro sogno, potrei ma non lo farò. E' finita a marzo l'ennesima stagione del salto, cioè quella dove la Lazio usciva dalla mediocrità e consolidava una crescita; oramai è tutto finito, così come per l'avventura capitolina di Morrison, divenuto senza scendere in campo idolo della gente, è solo una questione d'attesa fino a giugno e niente più.</p>
              <p>Ciò che mi sento comunque in dovere di far notare, da umile tifoso e non da commentatore/scrittore sportivo, è che la società rimane li, come sempre immobile. Verrà cambiato allenatore e qualche giocatore e si ricomincerà a mangiare sui conti della Lazio facendo affidamento sul nostro incondizionato amore che ci porterà inevitabilmente a seguire anche la prossima stagione. Sono sempre stato critico a riguardo ma credo che, a questo punto, la contestazione dura ed irremovibile sia l'unica soluzione attuabile da noi veri laziali per liberare una Lazio 'cieca' ma non nella nazionalità. Basta bugie e menzogne, è giunto il momento di riappropriarci di ciò che è sempre stato del popolo biancoceleste.</p>

              <!-- Post Single - Content End -->

              <!-- Tag Cloud
              ============================================= -->
              <%= render "mocks/blog_single_small/content_tagcloud" %>

              <div class="clear"></div>

              <!-- Post Single - Share
              ============================================= -->
              <%#= render "mocks/blog_single_small/content_share" %>

            </div>
          </div><!-- .entry end -->

          <!-- Post Navigation
          ============================================= -->
          <%#= render "mocks/blog_single_small/content_navigation" %>

          <div class="bottommargin-lg">
            <a href="http://www.integram-system.com/" target="_blank"><img src="images/magazine/ad5.jpg" alt="Ad - Integram System Web Design Agency"></a>
          </div>

          <!-- <div class="bottommargin-lg">
            <a href="http://www.savethechildren.it" title="Save the Children Italia Onlus"><img alt="Save the Children Italia Onlus" src="http://images.savethechildren.it/f/img/banner-istituzionali/46/468x60.gif" width="720" height="90" style="border:none;"/></a>
          </div> -->

          <div class="line"></div>

          <!-- Post Author Info
          ============================================= -->
          <%= render "mocks/blog_single_small/content_author_info" %>

          <!-- <div class="line"></div> -->

          <!-- Comments
          ============================================= -->

        </div>

      </div><!-- .postcontent end -->

      <!-- Sidebar
      ============================================= -->
      <%= render "mocks/blog_single_small/content_sidebar" %>

    </div>

  </div>

</section><!-- #content end -->
