<div class="section header-stick bottommargin-lg clearfix" style="padding: 20px 0;">
  <div>
    <div class="container clearfix">
      <span class="label label-danger bnews-title">Breaking News:</span>

      <div class="fslider bnews-slider nobottommargin" data-speed="800" data-pause="6000" data-arrows="false" data-pagi="false">
        <div class="flexslider">
          <div class="slider-wrap">
            <div class="slide"><a href="#"><strong>Roma, niente più Full Metal Jacket: la rivoluzione tocca anche la preparazione..</strong></a></div>
            <div class="slide"><a href="#"><strong>Turchia, calciatore squalificato per 12 giornate: colpa di una dedica ai curdi...</strong></a></div>
            <div class="slide"><a href="#"><strong>Chelsea, nel mirino c'è Allegri. Pronta un'offerta da 10 milioni di euro l'anno...</strong></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
