<div class="ipost clearfix bottommargin-sm">
  <div class="col_half nobottommargin">
    <div class="entry-image">
      <a href="#"><img class="image_fade" src="images/magazine/8.jpg" alt="Image"></a>
    </div>
  </div>
  <div class="col_half nobottommargin col_last">
    <div class="entry-title">
      <h3><a href="blog-single.html">Beyonce Dropped A '50 Shades Of Grey', Teaser On Instagram Last Night</a></h3>
    </div>
    <ul class="entry-meta clearfix">
      <li><i class="icon-calendar3"></i> 7th Jun 2014</li>
      <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 23</a></li>
      <li><a href="#"><i class="icon-camera-retro"></i></a></li>
    </ul>
    <div class="entry-content">
      <p>Neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum. Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi?</p>
    </div>
  </div>
</div>
