<div class="ipost clearfix">
  <div class="entry-image">
    <a href="#"><img class="image_fade" src="images/magazine/thumb/15.jpg" alt="Image"></a>
  </div>
  <div class="entry-title">
    <h3><a href="blog-single.html">BlackBerry names ex-Sybase executive as chief operating officer</a></h3>
  </div>
  <ul class="entry-meta clearfix">
    <li><i class="icon-calendar3"></i> 20th Nov 2014</li>
    <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
  </ul>
  <div class="entry-content">
    <p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi?</p>
  </div>
</div>
