<div class="spost clearfix">
  <div class="entry-image">
    <a href="#"><img src="images/magazine/small/9.jpg" alt=""></a>
  </div>
  <div class="entry-c">
    <div class="entry-title">
      <h4><a href="#">Internet Slang Has Been Proof Of Satanic Worship All Along???LOL!</a></h4>
    </div>
    <ul class="entry-meta">
      <li><i class="icon-calendar3"></i> 25th Mar 2014</li>
      <li><a href="#"><i class="icon-comments"></i> 56</a></li>
    </ul>
  </div>
</div>
