
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Header
	============================================= -->
	<header id="header" class="full-header">

		<div id="header-wrap">

			<div class="container clearfix">

				<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

				<!-- Logo
				============================================= -->
				<div id="logo">
					<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="RomaSportFace Logo"></a>
					<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="RomaSportFace Logo"></a>
				</div><!-- #logo end -->

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu">

					<ul>
						<li><a href="index.html"><div>Home</div></a></li>

													<li><a href="#"><div>Chi Siamo</div></a>
							<ul>
								<li><a href="#"><div>About Us</div></a></li>
								<li><a href="#"><div>Sitemap</div></a></li>
							</ul>
						</li>

						<li><a href="blog-small.html"><div>Blog</div></a>
						</li>

					</ul>

					<!-- Top Search
					============================================= -->
					<div id="top-search">
						<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
						<form action="search.html" method="get">
							<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
						</form>
					</div><!-- #top-search end -->

				</nav><!-- #primary-menu end -->

			</div>

		</div>

	</header><!-- #header end -->

	<!-- Page Title
	============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>Samuel per RomaSportFace</h1>
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li class="active">Post del Giorno</li>
			</ol>
		</div>

	</section><!-- #page-title end -->

	<!-- Content
	============================================= -->
	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<!-- Post Content
				============================================= -->
				<div class="postcontent nobottommargin clearfix">

					<div class="single-post nobottommargin">

						<!-- Single Post
						============================================= -->
						<div class="entry clearfix">

							<!-- Entry Title
							============================================= -->
							<div class="entry-title">
								<h2>La Lazio è 'cieca' ma i laziali ci vedono benissimo.</h2>
							</div><!-- .entry-title end -->

							<!-- Entry Meta
							============================================= -->
							<ul class="entry-meta clearfix">
								<li><i class="icon-calendar3"></i> 19 Marzo 2016</li>
								<li><a href="blog-small.html"><i class="icon-user"></i> Samuel Schiaffino</a></li>
								<!-- <li><i class="icon-folder-open"></i> <a href="#">Serie A</a>, <a href="#">AS Roma</a></li>
								<li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li>
								<li><a href="#"><i class="icon-camera-retro"></i></a></li> -->
							</ul><!-- .entry-meta end -->

							<!-- Entry Content
							============================================= -->
							<div class="entry-content notopmargin">

								<!-- Entry Image
								============================================= -->
								<div class="entry-image alignleft">
									<a href="#"><img src="images/blog/standard/16.jpg" alt="SS Lazio vs. Sparta Praga"></a>
								</div><!-- .entry-image end -->

								<p>Ero li, appollaiato al freddo insieme a tantissime altre anime su degli anonimi seggiolini di uno 'Stadio Olimpico' un giovedì di marzo, sbigottito e confuso; le vene pulsavano nelle tempie come nella testa di chi sa di non dover mischiare Tequila, Disaronno ed una buonissima birra di Praga, tutto si muoveva più lentamente del solito, la bocca rimaneva spalancata e gli occhi dell'anziano signore al mio fianco esprimevano solo disapprovazione, tristezza e sdegno.</p>

																	<p>Ma sogno o son desto?</p>

																	<blockquote><p>Potrei passare ore, se non giorni, a sputare veleno su chi ha distrutto qualsiasi nostro sogno, potrei ma non lo farò</p></blockquote>

								<p>Una ventata di aria gelida mi riporta alla realtà, sono passati dodici esatti minuti del ritorno di Europa League fra Lazio e Sparta Praga, il risultato è 0-2 e purtroppo sta tutto accadendo realmente sotto ai miei occhi.</p>

																	<p>Passano i minuti ed ad ogni ennesimo svarione difensivo sento sempre più insistente, martellante come un tamburo, ripetersi il mantra durante le ultime quattro sessioni del mercato del DS Igli Tare "la squadra è difficilmente migliorabile": <br> ogni passaggio sbagliato 'difficilmente migliorabile'; <br> ogni buco in difesa 'difficilmente migliorabile'; <br> ogni gol facile sparato alle stelle 'difficilmente migliorabile'; <br> Bisevac 'pronto ed esperto'.</p>

								<p>Mi manca il fiato, l'immagine del direttore sportivo che corre per consegnare in tempo il contratto di Vignaroli viene spazzata via da una impressionante bordata di fischi, alzo gli occhi che inconsciamente avevo abbassato e terra e noto il misfatto, risultato cambiato sullo 0-3.</p>

																	<p>L'arbitro decreta la fine del primo tempo e rimango li, appollaiato al freddo insieme a tantissime altre anime su degli anonimi seggiolini di uno 'Stadio Olimpico' un giovedì di marzo, stavolta con la consapevolezza che, a quanto pare, gli unici in questo vortice scellerato che si chiama gestione Lotito ad averci visto bene siamo stati noi tifosi.</p>

																	<p>Potrei passare ore, se non giorni, a sputare veleno su chi ha distrutto qualsiasi nostro sogno, potrei ma non lo farò.
E' finita a marzo l'ennesima stagione del salto, cioè quella dove la Lazio usciva dalla mediocrità e consolidava una crescita; oramai è tutto finito, così come per l'avventura capitolina di Morrison, divenuto senza scendere in campo idolo della gente, è solo una questione d'attesa fino a giugno e niente più.</p>

								<p>Ciò che mi sento comunque in dovere di far notare, da umile tifoso e non da commentatore/scrittore sportivo, è che la società rimane li, come sempre immobile. Verrà cambiato allenatore e qualche giocatore e si ricomincerà a mangiare sui conti della Lazio facendo affidamento sul nostro incondizionato amore che ci porterà inevitabilmente a seguire anche la prossima stagione.
Sono sempre stato critico a riguardo ma credo che, a questo punto, la contestazione dura ed irremovibile sia l'unica soluzione attuabile da noi veri laziali per liberare una Lazio 'cieca' ma non nella nazionalità.
Basta bugie e menzogne, è giunto il momento di riappropriarci di ciò che è sempre stato del popolo biancoceleste.</p>


								<!-- Post Single - Content End -->

								<!-- Tag Cloud
								============================================= -->
								<div class="tagcloud clearfix bottommargin">
									<a href="#">Tare</a>
									<a href="#">SS Lazio</a>
									<a href="#">Europa League</a>
									<a href="#">Lotito</a>
									<a href="#">Onazi</a>
								</div><!-- .tagcloud end -->

								<div class="clear"></div>

								<!-- Post Single - Share
								============================================= -->
								<!-- <div class="si-share noborder clearfix">
									<span>Share this Post:</span>
									<div>
										<a href="#" class="social-icon si-borderless si-facebook">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-twitter">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-pinterest">
											<i class="icon-pinterest"></i>
											<i class="icon-pinterest"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-gplus">
											<i class="icon-gplus"></i>
											<i class="icon-gplus"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-rss">
											<i class="icon-rss"></i>
											<i class="icon-rss"></i>
										</a>
										<a href="#" class="social-icon si-borderless si-email3">
											<i class="icon-email3"></i>
											<i class="icon-email3"></i>
										</a>
									</div>
								</div><!-- Post Single - Share End -->

							</div>
						</div><!-- .entry end -->

						<!-- Post Navigation
						============================================= -->
						<!-- <div class="post-navigation clearfix"> -->

							<!-- <div class="col_half nobottommargin">
								<a href="#">&lArr; This is a Standard post with a Slider Gallery</a>
							</div>

							<div class="col_half col_last tright nobottommargin">
								<a href="#">This is an Embedded Audio Post &rArr;</a>
							</div> -->

						<!-- </div><! .post-navigation end -->

						<div class="bottommargin-lg">
							<a href="http://www.integram-system.com/" target="_blank"><img src="images/magazine/ad5.jpg" alt="Ad - Integram System Web Design Agency"></a>
						</div>

													<!-- <div class="bottommargin-lg">
														<a href="http://www.savethechildren.it" title="Save the Children Italia Onlus"><img alt="Save the Children Italia Onlus" src="http://images.savethechildren.it/f/img/banner-istituzionali/46/468x60.gif" width="720" height="90" style="border:none;"/></a>
						</div> -->

						<div class="line"></div>

						<!-- Post Author Info
						============================================= -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Posted by <span><a href="#">Samuel Schiaffino</a></span></h3>
							</div>
							<div class="panel-body">
								<div class="author-image">
									<img src="images/author/2.jpg" alt="" class="img-circle">
								</div>
								Appassionato tifoso della Lazio e grande conoscitore dello sport di Roma e dintorni.
							</div>
						</div><!-- Post Single - Author End -->

						<!-- <div class="line"></div> -->

						<!-- Comments
						============================================= -->

					</div>

				</div><!-- .postcontent end -->

				<!-- Sidebar
				============================================= -->
				<div class="sidebar nobottommargin col_last clearfix">
					<div class="sidebar-widgets-wrap">

						<div class="widget widget-twitter-feed clearfix">

							<h4>Twitter Feed</h4>
							<!-- <ul class="iconlist twitter-feed" data-username="romasportface" data-count="1">
								<li></li>
							</ul> -->
							<a href="https://twitter.com/romasportface" class="btn btn-default btn-sm fleft">Follow Us on Twitter</a>
															<a class="twitter-timeline" href="https://twitter.com/romasportface/lists/calcio" data-widget-id="685054826619744256" data-tweet-limit="1">Tweets from https://twitter.com/romasportface/lists/calcio</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>

						<div class="widget clearfix">

							<div class="tabs nobottommargin clearfix" id="sidebar-tabs">

								<ul class="tab-nav clearfix">
									<li><a href="#tabs-1">Popular</a></li>
									<li><a href="#tabs-2">Recent</a></li>
									<!-- <li><a href="#tabs-3"><i class="icon-comments-alt norightmargin"></i></a></li> -->
								</ul>

								<div class="tab-container">

									<div class="tab-content clearfix" id="tabs-1">
										<div id="popular-post-list-sidebar">

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="blog-single-small06.html" class="nobg"><img class="img-circle" src="images/magazine/small/3.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="blog-single-small06.html">Piccoli passi</a></h4>
													</div>
													<ul class="entry-meta">
														<li><i class="icon-user"></i> David De Maria</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="blog-single-small7.html" class="nobg"><img class="img-circle" src="images/magazine/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="blog-single-small07.html">Notte di coppe e di campioni</a></h4>
													</div>
													<ul class="entry-meta">
														<li><i class="icon-user"></i> Christian Vitali</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="blog-single-small4.html" class="nobg"><img class="img-circle" src="images/magazine/small/1.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="blog-single-small04.html">SPALLata a Garcia</a></h4>
													</div>
													<ul class="entry-meta">
														<li><i class="icon-user"></i> David De Maria</li>
													</ul>
												</div>
											</div>

										</div>
									</div>
									<div class="tab-content clearfix" id="tabs-2">
										<div id="recent-post-list-sidebar">

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="blog-single-small08.html" class="nobg"><img class="img-circle" src="images/magazine/small/8.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="blog-single-small08.html">Stadio in crisi</a></h4>
													</div>
													<ul class="entry-meta">
														<li>22 Feb 2016</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="blog-single-small07.html" class="nobg"><img class="img-circle" src="images/magazine/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="blog-single-small07.html">Notte di coppe e di campioni</a></h4>
													</div>
													<ul class="entry-meta">
														<li>16 Feb 2016</li>
													</ul>
												</div>
											</div>

											<div class="spost clearfix">
												<div class="entry-image">
													<a href="blog-single-small06.html" class="nobg"><img class="img-circle" src="images/magazine/small/3.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="blog-single-small06.html">Piccoli passi</a></h4>
													</div>
													<ul class="entry-meta">
														<li>28 Gen 2016</li>
													</ul>
												</div>
											</div>

										</div>
									</div>

								</div>

							</div>

						</div>

													<div class="widget clearfix">
											<a href="http://www.greenpeace.org/freeouractivists?shareablegraphicsdove" target="_blank">
											<img class="aligncenter" alt="" src="http://www.greenpeace.org/international/Global/international/artwork/climate/2013/Arctic30/banners/as30-dove-300x250.jpg" border= "0"/></a>
						</div>

													<div class="widget clearfix">

							<h4>Tag Cloud</h4>
							<div class="tagcloud">
								<a href="#">Tare</a>
								<a href="#">Bayern Monaco</a>
								<a href="#">Tottenham</a>
								<a href="#">Barcelona</a>
								<a href="#">Lotito</a>
								<a href="#">SS Lazio</a>
								<a href="#">Juventus</a>
								<a href="#">Candreva</a>
								<a href="#">Real Madrid</a>
								<a href="#">Anderson</a>
							</div>

						</div>

					</div>

				</div><!-- .sidebar end -->

			</div>

		</div>

	</section><!-- #content end -->

	<!-- Footer
	============================================= -->
	<footer id="footer" class="dark">

		<div class="container">

			<!-- Footer Widgets
			============================================= -->
			<div class="footer-widgets-wrap clearfix">

				<div class="col_two_third">

					<div class="col_one_third">

						<div class="widget clearfix">

							<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

							<p>Lo Sport visto a <strong>360</strong> gradi.</p>

							<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
								<address>
									<strong>Headquarters:</strong><br>
									Roma<br>
									Italy<br>
								</address>
								<!-- <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
								<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br> -->
								<abbr title="Email Address"><strong>Email:</strong></abbr> info@romasportface.com
							</div>

						</div>

					</div>

					<div class="col_one_third">

						<div class="widget widget_links clearfix">

							<h4>Documenti</h4>

							<ul>
								<li><a href="#">Cookies</a></li>
								<li><a href="#">Legal Notes</a></li>
								<li><a href="#">Privacy</a></li>
								<li><a href="#">Credits</a></li>
							</ul>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix">
							<h4>Articoli popolari</h4>
							<div id="post-list-footer">

																	<div class="spost clearfix">
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="blog-single-small08.html">Stadio in crisi</a></h4>
										</div>
										<ul class="entry-meta">
											<li>22 Feb 2016</li>
										</ul>
									</div>
								</div>

								<div class="spost clearfix">
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="blog-single-small07.html">Notte di coppe e di campioni</a></h4>
										</div>
										<ul class="entry-meta">
											<li>16 Feb 2016</li>
										</ul>
									</div>
								</div>

								<div class="spost clearfix">
									<div class="entry-c">
										<div class="entry-title">
											<h4><a href="blog-single-small06.html">Piccoli passi</a></h4>
										</div>
										<ul class="entry-meta">
											<li>28 Gen 2016</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>

				</div>

				<div class="col_one_third col_last">

					<div class="widget clearfix" style="margin-bottom: -20px;">

						<div class="row">

							<div class="col-md-6 bottommargin-sm">
								<div class="counter counter-small"><span data-from="50" data-to="150654" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
								<h5 class="nobottommargin">Readers</h5>
							</div>

							<div class="col-md-6 bottommargin-sm">
								<div class="counter counter-small"><span data-from="100" data-to="1465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
								<h5 class="nobottommargin">News</h5>
							</div>

						</div>

					</div>

					<div class="widget subscribe-widget clearfix">
						<h5><strong>Sottoscrivi</strong> la nostra newsletter per ricevere i nostri articoli:</h5>
						<div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
						<form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
							<div class="input-group divcenter">
								<span class="input-group-addon"><i class="icon-email2"></i></span>
								<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
								<span class="input-group-btn">
									<button class="btn btn-success" type="submit">Subscribe</button>
								</span>
							</div>
						</form>
						<script type="text/javascript">
							$("#widget-subscribe-form").validate({
								submitHandler: function(form) {
									$(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
									$(form).ajaxSubmit({
										target: '#widget-subscribe-form-result',
										success: function() {
											$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
											$('#widget-subscribe-form').find('.form-control').val('');
											$('#widget-subscribe-form-result').attr('data-notify-msg', $('#widget-subscribe-form-result').html()).html('');
											SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
										}
									});
								}
							});
						</script>
					</div>

					<div class="widget clearfix" style="margin-bottom: -20px;">

						<div class="row">

							<div class="col-md-6 clearfix bottommargin-sm">
								<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
							</div>
							<div class="col-md-6 clearfix">
								<a href="#" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								<a href="#"><small style="display: block; margin-top: 3px;"><strong>Follow Us</strong><br>on Twitter</small></a>
							</div>

						</div>

					</div>

				</div>

			</div><!-- .footer-widgets-wrap end -->

		</div>

		<!-- Copyrights
		============================================= -->
		<div id="copyrights">

			<div class="container clearfix">

				<div class="col_half">
					Copyrights &copy; 2016 All Rights Reserved by RomaSportFace<br>
					<div class="copyright-links"><a href="#">Note legali</a> / <a href="#">Privacy Policy</a></div>
				</div>

				<div class="col_half col_last tright">
					<div class="fright clearfix">
						<a href="#" class="social-icon si-small si-borderless si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-gplus">
							<i class="icon-gplus"></i>
							<i class="icon-gplus"></i>
						</a>

						<!-- <a href="#" class="social-icon si-small si-borderless si-pinterest">
							<i class="icon-pinterest"></i>
							<i class="icon-pinterest"></i>
						</a> -->

						<a href="#" class="social-icon si-small si-borderless si-vimeo">
							<i class="icon-vimeo"></i>
							<i class="icon-vimeo"></i>
						</a>

						<!-- <a href="#" class="social-icon si-small si-borderless si-yahoo">
							<i class="icon-yahoo"></i>
							<i class="icon-yahoo"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-linkedin">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a> -->
					</div>

					<div class="clear"></div>

					<i class="icon-envelope2"></i> info@romasportface.com <span class="middot">&middot;</span> <span class="middot">&middot;</span> <i class="icon-skype2"></i> RomaSportFaceOnSkype
				</div>

			</div>

		</div><!-- #copyrights end -->

	</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
