
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Header
	============================================= -->
	<%= render "mocks/blog_single_small/header" %>

	<!-- Page Title
	============================================= -->
	<%= render "mocks/blog_single_small/page_title" %>

	<!-- Content
	============================================= -->
	<%= render "mocks/blog_single_small/content" %>

	<!-- Footer
	============================================= -->
	<%= render "mocks/blog_single_small/footer" %>

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
