	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<%= render "mocks/blog/header" %>

		<!-- Page Title
		============================================= -->
		<%= render "mocks/blog/page_title" %>

		<!-- Content
		============================================= -->
		<%= render "mocks/blog/content" %>

		<!-- Footer
		============================================= -->
		<%= render "mocks/blog/footer" %>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
