	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<%= render "mocks/index_magazine/top_bar" %>

		<!-- Header
		============================================= -->
		<%= render "mocks/index_magazine/header" %>

		<!-- Content
		============================================= -->
		<%= render "mocks/index_magazine/content" %>

		<!-- Footer
		============================================= -->
		<%= render "mocks/index_magazine/footer" %>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
