<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
      ============================================= -->
      <%= render "mocks/blog/postcontent" %>

      <!-- Sidebar
      ============================================= -->
      <%= render "mocks/blog/sidebar" %>

    </div>

  </div>

</section><!-- #content end -->
